{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Les Piafs Actifs</h1>

    Télécharger l'application des Piafs Actifs:
    <a href="https://www.application.lespiafsactifs.fr/build/app/Piafs_Actifs.apk" download="Piafs_Actifs.apk">Télécharger l'App</a>
</div>
{% endblock %}
