{% extends 'base.html.twig' %}

{% block title %}Les piafs actifs{% endblock %}

{% block body %}

<div class="mobile">
    <a class ="card-android" href="https://www.application.lespiafsactifs.fr/build/app/Piafs_Actifs.apk" download="Piafs_Actifs.apk">
        <img style="height:100%; width:auto"  class="card-img-top" src="{{ asset('build/images/android.png') }}" alt="android app">
        <div class="card-body-android">
            <h5 class="card-title-android text-center">Télécharger l'App</h5>
            <p class="card-text-android">Télécharger l'application des Piafs Actifs.</p>
            <p class="card-text-android text-end mt-3"><small class="text-muted">Cod4y</small></p>
        </div>
    </a>
</div>

<div class="no-mobile">
    <div class ="card-android">
        <img style="height:100%; width:auto"  class="card-img-top" src="{{ asset('build/images/android.png') }}" alt="android app">
        <div class="card-body-android">
            <h5 class="card-title-android text-center">Rendez-vous sur smartphone</h5>
            <p class="card-text-android">Rendez-vous sur smartphone pour télécharger l'application mobile.</p>
            <p class="card-text-android text-end mt-3"><small class="text-muted">Cod4y</small></p>
        </div>
    </div>
</div>

{% endblock %}


