{% extends 'base.html.twig' %}

{% block title %}Les piafs actifs{% endblock %}

{% block body %}

<div class="example-wrapper">
    {% if app.request.headers.get('User-Agent') matches '/Android/i' and app.request.headers.get('User-Agent') matches '/Chrome\/([\d\.]+)/i' %}
        Télécharger l'application des Piafs Actifs:
        <a href="https://www.application.lespiafsactifs.fr/build/app/Piafs_Actifs.apk" download="Piafs_Actifs.apk">Télécharger l'App</a>
    {% endif %}
    {{ app.request.headers.get('User-Agent') }}
</div>
{% endblock %}
