@import "~bootstrap/scss/bootstrap";
@import "color";
@import "navbar";
@import "connect";
@import 'home';
@import 'profil';
@import '_footer';
@import 'button.scss';
@import 'atelier.scss';
@import 'inscription.scss';


body {
    padding: 0;
    margin: 0;
    min-height: 100svh;
    padding-bottom: 17vh;
    background-color: white;
    position: relative;
}
