@import "~bootstrap/scss/bootstrap";
@import "color";
@import "navbar";
@import "connect";
@import 'home';
@import 'profil';

body {
    background-color: white;
}

.bodyConnect {
    background-color: $colorLogo1 ;
    height:88vh
}

