.card-atelier{
    border: solid 2px $colorLogo1;
    border-radius: 2rem;
    overflow: hidden;

    margin:1rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;

    .date-atelier{
        background-color: $colorLogo1;
        width:15%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1, p{
            color: white;
            margin:0;
        }
    }
    .date-atelier-2{
        background-color: $colorLogo2;
        width:10%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            color: white;
            margin:0;
            font-weight: bold;
        }
    }
    .corp-atelier{
        display: flex;
        flex-direction: column;
        width: 65%;
        padding: 1rem;
        .title-atelier{
            margin-inline: auto;
            font-weight: bold;
            color: black;
        }
        .description-atelier{
            margin: auto;
            color: grey;
        }
        .author-atelier{
            margin-right: 1rem;
            margin-left: auto;
            color: grey;
            font-style: italic;
        }
    }
    .suite-atelier{
        background-color: $colorLogo1;
        width:10%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1, p{
            color: white;
            margin:0;
        }
    }
}

.atelier-description{
    margin: 2rem;
}

.atelier-author{
    p{
        text-align: end;
        margin-inline: 2rem;
        font-style: italic;
        color: grey;
    }
}
.atelier-date{
    margin: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 2px solid $colorLogo1;
    border-bottom: 2px solid $colorLogo1;
    background-color: $colorLogo2;
    p{
        margin-bottom: 0;
        text-align: center;
        font-weight: bold;
        font-size:0.9rem;
    }
}

.inscription-comment{
    display: flex;
    flex-direction: column;
    label{
        margin-inline: 2rem;
    }
    .input-comment{
        width: calc( 100% - 4rem );
        margin-bottom: 2rem;
        margin-inline: 2rem;
        border-color: $colorLogo2;
    }
}
#form_childrens{
    width: calc( 100% - 8rem );
    margin-inline: auto;
    margin-bottom: 2rem;
    input{
        width: 10%;
    }
    label{
        width: 90%;
    }

}

.card-atelier-children{
    display: flex;
    flex-direction: column;
}

.card-atelier-2{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-children{
    border: solid 2px $colorLogo1;
    border-radius: 2rem;
    overflow: hidden;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    margin:1rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    p{
        color:black;
        margin:auto;
        margin-inline: 0;
    }
    .card-children-inscrit{
        margin-inline: 3rem;
        padding-inline: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
        border-radius: 2rem;
        margin-bottom: 0.5rem;
    }

    .card-children-inscrit:hover {
        background-color: $colorLogo2;
    }

    .card-children-2{
        border-bottom: 1px solid black;
    }
}

.button-div{
    margin: 2rem;
    display: flex;
    justify-content: space-around;
}

.selected-children{
    background-color: $colorLogo2;
}
