$colorLogo1 : #F2A73B;
$colorLogo2 : #F7D046;
$colorLogo3 : #E73880;
$colorLogo4 : #A8191E;
$colorLogo5 : #58B234;

.color-1{
    color:$colorLogo1 !important;
}

.color-2{
    color:$colorLogo2 !important;
}

.color-3{
    color:$colorLogo3 !important;
}

.color-4{
    color:$colorLogo4 !important;
}

.color-5{
    color:$colorLogo5 !important;
}
