<div class="div-footer">
    <div class="title">
        <h4 class="fontLogo">Les Piafs Actifs</h4>
    </div>
    <div class="text">
        <div class="zonefooter foot-start m-1">
            <h4>Les Piafs Actifs</h4> 
            <p>
                Le collectif en faveur de l'éducation et de la culture des jeunes de 3 à 17 ans.
            </p>
        </div>
        <div class="zonefooter foot-center m-1">
            <h4>Contactez-nous</h4> 
            <p style="text-align:center">
                1 Cours Lemercier, 17100 Saintes<br>
                <a class="footer-a" href="mailto:contact@lespiafsactifs.fr">contact@lespiafsactifs.fr</a><br>
                <a class="footer-a" href="tel:0756911217">07 56 91 12 17</a>
            </p>
        </div>
        <div class="zonefooter foot-end m-1">
            <p style="display: flex; flex-direction: column;align-items: end;"><a class="footer-a" href="{{ path("rgpd_terms") }}">POLITIQUE DE CONFIDENTIALITE</a><br>
            <a class="footer-a" href="{{ path("rgpd_privacy") }}">MENTIONS LEGALES</a></p>
            <p><a target="_blank" class="footer-a" href="https://www.cod4y.fr">©{{'now'|date('Y')}} COD4Y</a></p>    
        </div>
    </div>
</div>
